* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-color: #e8dec9;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-stop {
  display: none;
}

body {
  background-color: #e8dec9;
  color: #000000;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
}

body .loader img {
  height: 16rem;
  width: 16rem;
}

main {
  --tv-vertical-center: 52%;
  --tv-horizontal-center: 50%;
  --tv-screen-width: 44vw;
  --tv-screen-max-width: 850px;
  --tv-aspect-ratio: 4 / 3;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('./assets/comic_babooshka_background_en.webp');
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 0px 50px;
  border: 1px solid blue;
}

main:lang(ru) {
  background-image: url('./assets/comic_babooshka_background_ru.webp');
}

.header-container {
  border: 1px solid red;
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}

.language-container {
  display: flex;
  justify-content: flex-end;
  height: 4.188rem;
  margin-top: 2rem;
}

.language-button {
  border: none;
  background-color: transparent;
  margin-right: 7rem;
  margin-bottom: 1.25rem;
}

.language-selector {
  position: relative;
  width: 6.813rem;
  align-self: flex-end;
  /* margin-right: 1rem; */
  transition: none;
}

button {
  cursor: pointer !important;
}

.video-container {
  /* Match TV inner screen: 16:9, sized to fill screen with visible bezel on all sides */
  aspect-ratio: var(--tv-aspect-ratio);
  width: var(--tv-screen-width);
  max-width: var(--tv-screen-max-width);
  min-width: 0;
  height: auto;
  background-color: #3b3a39;
  overflow: hidden;
  border-radius: 0.4rem;
  /* In flow so it participates in main's height; margins create scroll space for footer animation */
  position: relative;
  z-index: 1;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* FOOTER */
.section-navbook {
  width: 100%;
  position: relative;
  padding-top: 6rem;
  z-index: 2;
}

.menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10.8rem;
  transform: translateY(19rem);
  z-index: 2;
}

.pages {
  position: absolute;
  display: flex;
  /* bottom: 15px */
  /*  bottom: -19px; */
  bottom: 25px;
}

.navbook {
  max-width: 80vw;
  width: 100%;
  margin-bottom: 0px;
  margin-left: -2vmin;
  z-index: 2;
  pointer-events: none;
}

.main {
  margin: -3vmin 0 0 5vmin;
  height: 100%;
}

.milestones {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.stories {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.gallery {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.my-granny {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.remember {
  margin: 1.5vmin 0 0 -4vmin;
  height: 100%;
  z-index: 1;
}

.map {
  margin: -3vmin 0 0 -3vmin;
  height: 100%;
}

.pages img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  width: 12vw;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0rem);
}

.pages img:hover {
  cursor: pointer !important;
  transform: translateY(-1rem);
}

.menu-active {
  animation: 1.6s ease-out 0.8ms forwards activeMenu;
}

@keyframes activeMenu {
  from {
    transform: translateY(19rem);
  }
  to {
    transform: translateY(0);
  }
}
