:root {
  --tv-vertical-center: 51.27%;
  --tv-horizontal-center: 50.25%;
  --tv-screen-width: 42.7vw;
  --tv-screen-height: 30.14vw;
  --tv-screen-max-width: 780px;
  --tv-aspect-ratio: 4 / 3;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-color: #e8dec9;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-stop {
  display: none;
}

body {
  background-color: #e8dec9;
  color: #000000;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
}

body .loader img {
  height: 16rem;
  width: 16rem;
}

main {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('./assets/comic_babooshka_background_en.webp');
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 0px;
  overflow-y: hidden;
}

main:lang(ru) {
  background-image: url('./assets/comic_babooshka_background_ru.webp');
}

.header-container {
  display: flex;
  justify-content: end;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}

.language-container {
  display: flex;
  justify-content: flex-end;
  height: 4.188rem;
  margin-top: 2rem;
}

.language-button {
  border: none;
  background-color: transparent;
  margin-right: 7rem;
  margin-bottom: 1.25rem;
}

.language-selector {
  position: relative;
  width: 6.813rem;
  align-self: flex-end;
  /* margin-right: 1rem; */
  transition: none;
}

button {
  cursor: pointer !important;
}

.video-container {
  width: var(--tv-screen-width);
  height: var(--tv-screen-height);
  overflow: hidden;
  border-radius: 0.5rem;
  position: absolute;
  top: var(--tv-vertical-center);
  left: var(--tv-horizontal-center);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-buttons {
  position: absolute;
  height: auto;
  background-color: transparent;
  outline: none;
  border: none;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    transform 0.3s ease;
}

.video-container:hover .video-buttons:not(.hidden-btn) {
  opacity: 1;
  visibility: visible;
}

.img-video-buttons {
  object-fit: contain;
}

.img-video-play {
  width: 6vw;
}

.img-video-pause {
  width: 3vw;
}

.img-video-full-screen {
  width: 4vw;
}

.video-play-button {
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%) scale(1);
}

.video-pause-button {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.video-full-screen-button {
  bottom: -3%;
  right: -3%;
  transform: translate(-50%, -50%) scale(1);
}

.video-buttons.hidden-btn {
  opacity: 0 !important;
  visibility: hidden !important;
  transform: translate(-50%, -50%) scale(0.8);
  pointer-events: none;
}

.side-animations {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  overflow-y: hidden;
}

.cartridge {
  display: block;
  position: absolute;
  width: 39vw;
  height: auto;
  left: -26vw;
  bottom: -8vw;
}

.pencil_and_caps {
  display: block;
  position: absolute;
  width: 16vw;
  height: auto;
  right: -6vw;
  bottom: -19vw;
}

/* FOOTER */
.section-navbook {
  position: relative;
  width: 100%;
  padding-top: 2rem;
  z-index: 2;
  overflow: hidden;
}

.menu {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10.8rem;
  transform: translateY(19rem);
  z-index: 2;
}

.pages {
  position: absolute;
  display: flex;
  /* bottom: 15px */
  /*  bottom: -19px; */
  bottom: 7px;
}

.navbook {
  max-width: 80vw;
  width: 100%;
  margin-bottom: -19px;
  margin-left: -2vmin;
  z-index: 2;
  pointer-events: none;
}

.main {
  margin: -3vmin 0 0 5vmin;
  height: 100%;
}

.milestones {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.stories {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.gallery {
  margin: 1vmin 0 0 -3vmin;
  height: 100%;
  z-index: 1;
}

.my-granny {
  margin: -4vmin 0 0 -6vmin;
  height: 100%;
}

.remember {
  margin: 1.5vmin 0 0 -4vmin;
  height: 100%;
  z-index: 1;
}

.map {
  margin: -3vmin 0 0 -3vmin;
  height: 100%;
}

.pages img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  width: 12vw;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0rem);
}

.pages img:hover {
  cursor: pointer !important;
  transform: translateY(-1rem);
}

.menu-active {
  animation: 1.6s ease-out 0.8ms forwards activeMenu;
}

@keyframes activeMenu {
  from {
    transform: translateY(19rem);
  }
  to {
    transform: translateY(0);
  }
}

.scroll-active-left {
  animation: 1s linear 0s forwards slideLeft;
}

.scroll-active-right {
  animation: 1s linear 0s forwards slideRight;
}

@keyframes slideLeft {
  from {
    transform: translateX(-30%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(0);
  }
}
