@media only screen and (min-width: 801px) and (max-width: 1300px) {
  .cartridge {
    width: 43vw;
    left: -28vw;
    bottom: -8vw;
  }

  .pencil_and_caps {
    width: 20vw;
    right: -8vw;
    bottom: -27vw;
  }
}

@media only screen and (max-width: 1080px) {
  .bear-img {
    width: 4.103rem;
    height: 5.4rem;
  }

  .flower-img {
    width: 3.608rem;
    height: 4.728rem;
  }

  .candy-img {
    width: 5.989rem;
    height: 4.483rem;
  }
}
